<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazing - Register</title>
</head>
<body>
    <h1>Register ke Amazing</h1>
    <form action="" method="post">
        <p>
            Email
            <input type="text" name="email">
        </p>

        <p>
            Password
            <input type="text" name="password">
        </p>

        <p>
            Role
            <select name="role">
                <option selected disabled>-- Role --</option>
                <option value="Admin">Admin</option>
                <option value="Customer">Customer</option>
            </select>
        </p>

        <button type="submit">Daftar</button>
    </form>
</body>
</html>