<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazing - Home</title>
</head>
<body>
    <%- include("../partials/navbar-customer") %>
    <!-- Di sini table barang, ada order list di navbar, buy item di action -->
    <!-- order list item yang sudah di beli -->
    <!-- buy item ke form untuk isi mau beli berapa stocknya (pakai update, siapkan validate) -->

    <!-- Fitur search atau sort -> Search nama item -->
    <!-- Tambahkan Static Method & Instance Method ke product -->
    <!-- Static Method untuk description -> desc : <desc> -->
    <!-- Instance Method untuk stock -> item di gudang : <stock> -->
    <!-- Helper untuk format price  -> jadi Rp. <price> -->
    <h1>Home Customer</h1>
</body>
</html>